<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "Combo" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "combo/application", media: "all" %>
    <%= javascript_include_tag "combo/application", type: "module" %>
  </head>

  <body>
    <%= cb_page do %>
      <%= yield %>
    <% end %>
  </body>
</html>
